<div class="container">
<div id="title">
<p id="q1"><i>properties of Magnets</i></p>
</div>
<a ui-sref=".Aim" ><button id="rcorners1">
 <p class="txt1"><b>Aim</b></p></button></a>
<a ui-sref=".Content"> <button id="rcorners2">
   <p class="txt2"><b>content</b></p></button></a>
   <div class="subclass">
     <div id="title1">
     </div>
     <ui-view></ui-view>
     <div id="title2">
       <center>
<a ui-sref="Activity"><button id="rcorners">
         <p class="txt3"><i>Start Activity</i></p>
       </button></a>
     </center>
     </div>
 </div>
 <div id="title3">
</div>
</div>
