<html lang="en" ng-app="nextTools">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <title>NextTools</title>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="assets/js/angular-material/angular-material.min.css">
    <!-- custom style sheet -->
    <link rel="stylesheet" href="assets/sass/custom.css">
    <!-- material font icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body layout="row" ng-controller="NextCtrl as demo" ng-cloak>

    <div class="width100 unitcon-wrap">
        <!-- start sidenav -->
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('')">
            <md-toolbar class="md-tall md-hue-2">
                <span flex></span>
                <div layout="column" class="md-toolbar-tools-bottom inset"> </div>
            </md-toolbar>
            <md-list>
                <md-item ng-repeat="item in menu">
                    <a>
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                            </div>
                            <div class="inset">{{item.title}}</div>
                        </md-item-content>
                    </a>
                </md-item>
                <md-divider></md-divider>
                <md-subheader>Next Tools</md-subheader>
                <md-item ng-repeat="item in admin">
                    <a>
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                            </div>
                            <div class="inset">{{item.title}}
                            </div>
                        </md-item-content>
                    </a>
                </md-item>
            </md-list>
        </md-sidenav>
        <!-- End sidenav -->

        <!-- start content area -->
        <div layout="column" class="relative" layout-fill role="main">

            <!-- start toolbar -->
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click="toggleSidenav('left')" aria-label="Menu">
                        <md-icon class="material-icons">&#xE5D2;</md-icon>
                    </md-button>
                    <h3> {{page2Title}} </h3>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="showAdvanced($event)" aria-label="info">
                        <md-icon class="material-icons">&#xE887;</md-icon>
                    </md-button>
                </div>
                <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
                    <md-tab id="tab1" aria-controls="tab1-content">
                        <md-icon class="material-icons">slow_motion_video</md-icon>
                        <div>Acceleration</div>
                    </md-tab>
                    <md-tab id="tab2" aria-controls="tab2-content">
                        <md-icon class="material-icons">swap_calls</md-icon>
                        <div>
                            Amt.Of substance
                        </div>
                    </md-tab>
                    <md-tab id="tab3" aria-controls="tab3-content">
                        <md-icon class="material-icons">crop_square</md-icon>
                        <div>
                            Angle
                        </div>
                    </md-tab>
                    <md-tab id="tab4" aria-controls="tab4-content">
                        <md-icon class="material-icons">launch</md-icon>

                        <div>
                            Area
                        </div>
                    </md-tab>
                    <md-tab id="tab5" aria-controls="tab5-content">
                        <md-icon class="material-icons">format_line_spacing</md-icon>
                        <div>
                            Distance
                        </div>
                    </md-tab>
                    <md-tab id="tab6" aria-controls="tab6-content">
                        <md-icon class="material-icons">branding_watermark</md-icon>
                        <div>
                            Mass
                        </div>
                    </md-tab>
                    <md-tab id="tab7" aria-controls="tab6-content">
                        <md-icon class="material-icons">settings_system_daydream</md-icon>
                        <div>
                            Temperature
                        </div>
                    </md-tab>
                    <md-tab id="tab8" aria-controls="tab8-content">
                        <md-icon class="material-icons">timer</md-icon>
                        <div>
                            Time
                        </div>
                    </md-tab>

                    <md-tab id="tab9" aria-controls="tab9-content">
                        <md-icon class="material-icons">battery_full</md-icon>
                        <div>
                            Capacity
                        </div>
                    </md-tab>

                    <md-tab id="tab10" aria-controls="tab10-content">
                        <md-icon class="material-icons">room</md-icon>
                        <div>
                            Distance
                        </div>
                    </md-tab>

                </md-tabs>
            </md-toolbar>

            <!-- end toolbar -->

            <md-content class="main_wrap main-height" layout-align="center center"  flex>
                <ui-view class="" layout="column" layout-align="center center" layout-fill layout-padding flex-xs="100" flex="50" style="margin:auto;">
                    <ng-switch on="data.selectedIndex" class="width100">
                        <!-- start Acceleration tab  -->
                        <div layout="column" layout-align="center center" role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0">
                            <div class="unit_wrap" layout="row" layout-align="space-between center">
                                <md-input-container class="md-icon-float md-block m-0">
                                    <label>TEXT</label>
                                    <input ng-model="user.name1" type="text" class="md_input">
                                </md-input-container>

                                <md-select placeholder="cm" ng-model="NextCtrl.userUnitone" class="md-no-underline md_options m-0" aria-label="dropdown">
                                    <md-option ng-repeat="unit in units" ng-value="{{unit}}">{{unit.option}}</md-option>
                                </md-select>
                            </div>

                            <div class="unit_wrap" layout="row" layout-align="space-between center">
                                <md-input-container class="md-icon-float md-block m-0">
                                    <label>TEXT</label>
                                    <input ng-model="user.name" type="text" class="md_input">
                                </md-input-container>

                                <md-select placeholder="unit" ng-model="NextCtrl.userUnittwo" class="md-no-underline md_options m-0" aria-label="dropdown">
                                    <md-option ng-repeat="unit in units" ng-value="{{unit}}">{{ unit.option }}</md-option>
                                </md-select>
                            </div>

                            <md-list class="md-dense blue-grey lighten-5 p-0 m-0 width100 t-center " flex>
                                <md-list-item class="md-1-line m-0">
                                    <div class="md-list-item-text t-center ">
                                        <h2>1</h2>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                        <!-- End Acceleration tab  -->
                    </ng-switch>
                    <div class="inset" hide-sm></div>
                </ui-view>
            </md-content>
        </div>
    </div>
    <!-- End ontent area -->


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="assets/js/jquery-2.1.1.min.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="assets/js/angular/angular.min.js"></script>
    <script src="assets/js/angular-animate/angular-animate.min.js"></script>
    <script src="assets/js/angular-aria/angular-aria.min.js"></script>
    <script src="assets/js/angular-messages/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="assets/js/angular-material/angular-material.min.js"></script>
    <script src="assets/js/app.module.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="assets/js/materialize.min.js"></script>

</body>

</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
